<template>
    <div>
        <ul class="list-group">
            <li v-for="(inputs, inputs_index) in inputs" class="list-group-item">
                <div class="form-row">
                <div class="form-group col-md-8 form-inline" v-if="inputs.type!=='heading' && inputs.type!=='subheading'">
                        <label style="justify-content: left;width:10%;">Label</label>
                        <input type="hidden" :name="'inputs['+inputs_index+'][id]'" class="form-control form-control-sm" v-model="inputs.id" required/>
                        <input type="text" :name="'inputs['+inputs_index+'][name]'" class="form-control form-control-sm" placeholder="Input Label" style="justify-content: left;width:85%;" v-model="inputs.name" required/>
                </div>
                <div class="form-group col-md-8 form-inline" v-if="inputs.type==='heading'">
                    <input type="hidden" :name="'inputs['+inputs_index+'][id]'" class="form-control form-control-sm" v-model="inputs.id" required/>
                    <input type="hidden" :name="'inputs['+inputs_index+'][type]'" class="form-control form-control-sm" v-model="inputs.type" required/>
                    <label class="pr-2" style="justify-content: left;width:10%;">Heading</label>
                    <textarea-autosize
                            :name="'inputs[' + inputs_index + '][name]'"
                            placeholder="Heading"
                            v-model="inputs.name"
                            rows="1"
                            :max-height="350"
                            @blur.native="onBlurTextarea"
                            class="form-control form-control-sm"
                            style="width: 85%;"
                            required
                    ></textarea-autosize>
                </div>
                <div class="form-group col-md-8 form-inline" v-if="inputs.type==='subheading'">
                    <input type="hidden" :name="'inputs['+inputs_index+'][id]'" class="form-control form-control-sm" v-model="inputs.id" required/>
                    <input type="hidden" :name="'inputs['+inputs_index+'][type]'" class="form-control form-control-sm" v-model="inputs.type" required/>
                    <label class="pr-2" style="justify-content: left;width:10%;">Sub-heading</label>
                    <textarea-autosize
                            :name="'inputs[' + inputs_index + '][name]'"
                            placeholder="Sub-heading"
                            v-model="inputs.name"
                            rows="1"
                            :max-height="350"
                            @blur.native="onBlurTextarea"
                            class="form-control form-control-sm"
                            style="width: 85%;"
                            required
                    ></textarea-autosize>
                </div>
                <div class="form-group col-md-4 form-inline" v-if="inputs.type==='heading' || inputs.type==='subheading'">

                    <div class="form-group col-md-3 form-inline">
                        <label class="pr-1">Level</label>
                        <div class="form-row col-md-8">
                            <div class="form-group col-md-12">
                                <select :name="'inputs['+inputs_index+'][level]'" class="form-control form-control-sm col-md-12" v-model="inputs.level" title="Level" :disabled="inputs.report == 1">
                                    <option v-for="levelType in levelTypes" :value="levelType.value">{{levelType.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" :name="'inputs['+inputs_index+'][color]'" :value="inputs.color"/>
                    <verte style="margin-top: 5px;" picker="square" v-model="inputs.color" @click="colorChange(activity_index)"></verte>

                </div>
                <div class="form-group col-md-4 form-inline" v-if="inputs.type!=='heading' && inputs.type!=='subheading'">

                        <label class="pr-2" style="justify-content: left;width:20%;">Input Type</label>
                        <select :name="'inputs['+inputs_index+'][type]'" class="form-control form-control-sm" v-model="inputs.type" style="justify-content: left;width:80%;">
                            <option v-for="inputfieldType in inputTypes" :value="inputfieldType.value">{{inputfieldType.text}}</option>
                        </select>

                </div>
                </div>

                <div class="form-group col-md-12" v-if="inputs.type!=='heading' && inputs.type!=='subheading'">
                    <label>Attributes</label>
                    <div class="row">
                        <div class="form-group col-md-1">
                            <div class="custom-control custom-checkbox custom-control-inline ml-2" title="Is the activity a key performance indicator required for step completion?">
                                <input type="checkbox" :name="'inputs['+inputs_index+'][kpi]'" class="custom-control-input" v-model="inputs.kpi" :id="'kpi-' + inputs_index"/>
                                <label class="custom-control-label" :for="'kpi-' + inputs_index">KPI</label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div>
                                <div class="custom-control custom-checkbox custom-control-inline ml-2" title="Is the activity part of the Client Basket?">
                                    <input type="checkbox" :name="'inputs['+inputs_index+'][client_bucket]'" class="form-inline custom-control-input" v-model="inputs.client_bucket" :id="'client_bucket-' + inputs_index"/>
                                    <label class="custom-control-label" :for="'client_bucket-' + inputs_index">Default to Client Basket</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                        </div>
                        <div class="form-group col-md-1">
                        </div>
                        <div class="form-group col-md-1">
                        </div>
                        <div class="form-group col-md-1">
                        </div>
                        <div class="form-group col-md-1 form-inline">
                            <label class="pr-1">Level</label>
                            <div class="form-row col-md-8">
                                <div class="form-group col-md-12">
                                    <select :name="'inputs['+inputs_index+'][level]'" class="form-control form-control-sm col-md-12" v-model="inputs.level" title="Level" :disabled="inputs.report == 1">
                                        <option v-for="levelType in levelTypes" :value="levelType.value">{{levelType.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" :name="'inputs['+inputs_index+'][color]'" :value="inputs.color"/>
                        <verte picker="square" v-model="inputs.color" @click="colorChange(inputs_index)"></verte>
                    </div>
                </div>

                <div class="form-row" v-if="inputs.type!=='heading' && inputs.type!=='subheading'">
                    <div>
                        <button v-show="!inputs.is_tooltip_shown" class="btn btn-secondary-outline btn-sm" type="button" @click="toggleTooltipShown(inputs_index)"><i class="fa fa-eye"></i> Show Guidance Note</button>
                        <button v-show="inputs.is_tooltip_shown" class="btn btn-secondary-outline btn-sm" type="button" @click="toggleTooltipShown(inputs_index)"><i class="fa fa-eye-slash"></i> Hide Guidance Note</button>
                    </div>
                    <div class="col-sm-10" v-show="inputs.is_tooltip_shown">
                        <div class="d-inline col-sm-12">
                            <input type="text" :name="'inputs['+inputs_index+'][tooltip]'" class="form-control form-control-sm d-inline" v-model="inputs.tooltip" placeholder="Guidance Note"/>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3" v-if="inputs.type==='dropdown'">
                    <div>
                        <button v-show="!inputs.is_dropdown_items_shown" class="btn btn-secondary-outline btn-sm" type="button" @click="toggleDropdownItemShown(inputs_index)"><i class="fa fa-eye"></i> Show dropdown items</button>
                        <button v-show="inputs.is_dropdown_items_shown" class="btn btn-secondary-outline btn-sm" type="button" @click="toggleDropdownItemShown(inputs_index)"><i class="fa fa-eye-slash"></i> Hide dropdown items</button>
                    </div>
                    <div v-show="inputs.is_dropdown_items_shown">
                        <input type="text" class="form-control form-control-sm d-inline ml-2" v-model="inputs.dropdown_item" @keydown.enter.prevent="createDropdownItem(inputs_index)" placeholder="Dropdown options"/>
                        <div v-for="(dropdownItem, dropdown_item_index) in inputs.dropdown_items" class="d-inline ml-2">
                            <button type="button" class="btn btn-sm btn-secondary mt-1" @click="deleteDropdownItem(inputs_index, dropdown_item_index)">
                                {{dropdownItem}} <i class="fa fa-trash"></i>
                            </button>
                            <input type="hidden" :name="'inputs['+inputs_index+'][dropdown_items][]'" :value="dropdownItem"/>
                        </div>
                    </div>
                </div>

                <p class="text-center">
                    <button type="button" title="Move activity up" class="btn btn-outline-secondary btn-sm" :class="[inputs_index===0 ? 'disabled' : '']" @click="moveInput(true, inputs_index)"><i class="fa fa-fw" :class="[inputs_index===0 ? 'fa-minus' : 'fa-arrow-up']"></i></button>
                    <button type="button" title="Move activity down" class="btn btn-outline-secondary btn-sm" :class="[inputs_index===inputs.length-1 ? 'disabled' : '']" @click="moveInput(false, inputs_index)"><i class="fa fa-fw" :class="[inputs_index===inputs.length-1 ? 'fa-minus' : 'fa-arrow-down']"></i></button>
                    <button type="button" title="Delete activity" class="btn btn-outline-danger btn-sm" @click="deleteInput(inputs_index)"><i class="fa fa-fw fa-trash"></i></button>
                </p>
            </li>
            <li class="text-center list-group-item">
                <button type="button" class="btn btn-outline-success btn-sm" @click="createHeading()"><i class="fa fa-plus"></i> Heading</button>
                <button type="button" class="btn btn-outline-success btn-sm" @click="createSubheading()"><i class="fa fa-plus"></i> Sub-heading</button>
                <button type="button" class="btn btn-outline-success btn-sm" @click="createInput()"><i class="fa fa-plus"></i> Field</button>
            </li>
        </ul>
    </div>
</template>

<script>

    export default {
        props: {
            blackInputs: {
                type: Array,
                default: () => [
                    {
                        type: 'text',
                        kpi: true,
                        comment: false,
                        client: false,
                        weight: 0,
                        dropdown_item: '',
                        dropdown_items: [],
                        is_tooltip_shown: false,
                        is_dropdown_items_shown: false,
                        is_client_bucket:false,
                        threshold: {
                            time: 7,
                            type: 'days'
                        },
                        user: 0
                    }
                ]
            }
        },
        data() {
            return {
                color: '',
                inputs: this.blackInputs,
                users: [],
                inputTypes: [
                    {text: 'Text', value: 'text'},
                    {text: 'Textarea', value: 'textarea'},
                    {text: 'Percentage', value: 'percentage'},
                    {text: 'Integer', value: 'integer'},
                    {text: 'Letter Email', value: 'template_email'},
                    {text: 'Document Email', value: 'document_email'},
                    {text: 'Document Upload', value: 'document'},
                    {text: 'Dropdown', value: 'dropdown'},
                    {text: 'Date', value: 'date'},
                    {text: 'Y/N', value: 'boolean'},
                    {text: 'Notification', value: 'notification'},
                    {text: 'Video', value: 'video'},
                    {text: 'Multiple Attachment', value: 'multiple_attachment'},
                    {text: 'Amount', value: 'amount'},
                    {text: 'Heading', value: 'heading'},
                    {text: 'Sub-heading', value: 'subheading'}
                ],
                thresholdTypes: [
                    {text: 'Seconds', value: 'seconds'},
                    {text: 'Minutes', value: 'minutes'},
                    {text: 'Hours', value: 'hours'},
                    {text: 'Days', value: 'days'}
                ],
                levelTypes: [
                    {text: '0', value: '0'},
                    {text: '1', value: '1'},
                    {text: '2', value: '2'}
                ],
            }
        },
        methods: {
            createInput(index) {
                this.inputs.push({
                    name: '',
                    type: 'text',
                    kpi: true,
                    comment: false,
                    client: false,
                    weight: 0,
                    dropdown_item: '',
                    dropdown_items: [],
                    is_tooltip_shown: false,
                    is_dropdown_items_shown: false,
                    is_client_bucket:false,
                    threshold: {
                        time: 7,
                        type: 'days'
                    },
                    user: 0,
                    currency: 0,
                    level: 0
                });
            },
            createHeading(index) {
                this.inputs.push({
                    color: '',
                    name: '',
                    type: 'heading',
                    kpi: true,
                    comment: false,
                    value: false,
                    procedure: false,
                    client: false,
                    weight: 0,
                    dropdown_item: '',
                    dropdown_items: [],
                    is_dropdown_items_shown: false,
                    is_grouping_items_shown: false,
                    is_default_value_shown: false,
                    is_tooltip_shown: false,
                    is_client_bucket: false,
                    threshold: {
                        time: 7,
                        type: 'days'
                    },
                    user: 0,
                    currency: 0,
                    level: 0
                });
            },
            createSubheading(index) {
                this.inputs.push({
                    color: '',
                    name: '',
                    type: 'subheading',
                    kpi: true,
                    comment: false,
                    value: false,
                    procedure: false,
                    client: false,
                    weight: 0,
                    dropdown_item: '',
                    dropdown_items: [],
                    is_dropdown_items_shown: false,
                    is_grouping_items_shown: false,
                    is_default_value_shown: false,
                    is_tooltip_shown: false,
                    is_client_bucket: false,
                    threshold: {
                        time: 7,
                        type: 'days'
                    },
                    user: 0,
                    currency: 0,
                    level: 0
                });
            },
            deleteInput(index) {
                this.inputs.splice(index, 1);
            },
            moveInput(direction, index) {
                if (this.inputs.length !== 1 && !(index === 0 && direction) && !(index === (this.inputs.length - 1) && !direction)) {
                    if (direction) {
                        const b = this.inputs[index];
                        Vue.set(this.inputs, index, this.inputs[index - 1]);
                        Vue.set(this.inputs, index - 1, b);
                    } else {
                        const b = this.inputs[index];
                        Vue.set(this.inputs, index, this.inputs[index + 1]);
                        Vue.set(this.inputs, index + 1, b);
                    }
                }
            },
            createDropdownItem(index) {
                if (!this.inputs[index].dropdown_items) {
                    this.inputs[index].dropdown_items = [];
                }

                this.inputs[index].dropdown_items.push(
                    this.inputs[index].dropdown_item
                );

                this.inputs[index].dropdown_item = '';
            },
            deleteDropdownItem(index, dropdown_item_index) {
                this.inputs[index].dropdown_items.splice(dropdown_item_index, 1);
            },
            toggleDropdownItemShown(index) {
                this.inputs[index].is_dropdown_items_shown = !this.inputs[index].is_dropdown_items_shown;
            },
            toggleTooltipShown(index) {
                this.inputs[index].is_tooltip_shown = !this.inputs[index].is_tooltip_shown;
            }
        },
        created() {

        }
    }
</script>