body, .table{
  color: #09486F;
  font-size: .9rem;
}
.navbar-brand {
    color: #09486F;
}
.navbar-brand:hover{
  color: #4c5e77;
}
.navbar-nav .nav-link {
    color: #09486F;
    font-weight: 600;
}
.navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: #4c5e77;
    font-weight: 600;
}

.nav-search ::placeholder {
    color: #d9d9d9;
    opacity: 1; /* Firefox */
    font-size: .9rem;
    font-style: italic;
  }
  
  .nav-search :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d9d9d9;
    font-size: .9rem;
    font-style: italic;
  }
  
  .nav-search ::-ms-input-placeholder { /* Microsoft Edge */
    color: #d9d9d9;
    font-size: .9rem;
    font-style: italic;
  }

  .nav-search .fa-search{
      color: #d9d9d9;
  }
  #global-search{
    border: 2px solid #4c5e77;
    width: 15rem;
  }

  .user-info{
    background: #fafafa;
    padding: 0.75rem 0;
    font-size: 1.125rem;
  }
  .name{
    font-size: 1.5rem;
  }
  .btn-primary{
    background: #4c5e77;
    border-color: #4c5e77;
  }
  .btn-active-user{
    font-size: 1.25rem;
    border-radius: 1.75rem;
  }
  .chart-title{
    font-size: 1rem;
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
  }

  .rotate2 {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);
    font-weight: 600;
    color: #4c5e77;
  }
  .rotate2>p{
    font-size: 1rem;
  }

  thead{
    font-size: 1.25rem;
  }
  th{
    font-weight: normal!important;
    border-bottom: none!important;
    border-top: none!important;
  }
  td{
    font-size: 1rem;
    border-top: none!important;
  }
.height-chart{
  width: 280px;
}

.task2{
  padding: .9rem 2rem;
  border-radius: 1.5rem;

  width: 18.4%;
  float: left;
  margin: 0.3%;
}
.task{
  padding: .9rem 2rem;
  border-radius: 1.5rem;

  width: 23.1%;
  float: left;
  margin: 0.3%;
}
.count{
  font-size: 1.5rem;
  font-weight: bold;
  color: #4c5e77;
}
.center{
  margin: 0 auto;
}
  /*#pipeline-performance{
    width: 429px!important;
    height: 238!important;
  }*/
  .chart-wrapper{
    display: grid;
    grid-template-columns: 5.5rem 2fr 2fr;
    grid-column-gap: 2rem;
  }

  .task-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-column-gap: 2rem;
  }
  .interaction-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-column-gap: 1rem;
  }

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 1919px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
}
}
